<a href="https://colab.research.google.com/github/HWatanuki/StoryTelling/blob/main/concat_data_files.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import os.path

In [ ]:
data_path = './repositorio/covid_data/'
file_list = os.listdir(data_path)
print(f"{len(file_list)} files found.")

5 files found.

In [ ]:
df_full = pd.DataFrame()

base_path = './repositorio/covid_data/'
for f in file_list:
    if df_full.empty:
        df_full = pd.read_csv(base_path + f, parse_dates=['data'], sep=';')
    else:
        df_aux = pd.read_csv(base_path + f, parse_dates=['data'], sep=';')
        df_full = pd.concat([df_full, df_aux])

In [ ]:
df_aux.shape

(691139, 17)

In [ ]:
df_full.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
0,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-25,9,210147125.0,0.0,0,0,0,0.0,0.0,NaN
1,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-26,9,210147125.0,1.0,1,0,0,1.0,0.0,NaN
2,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-27,9,210147125.0,1.0,0,0,0,1.0,0.0,NaN
3,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-28,9,210147125.0,1.0,0,0,0,0.0,1.0,NaN
4,Brasil,NaN,NaN,76,NaN,NaN,NaN,2020-02-29,9,210147125.0,2.0,1,0,0,1.0,1.0,NaN

In [ ]:
df_full.tail()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
691134,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-04-29,17,3015268.0,696487.0,121,11651,2,NaN,NaN,1.0
691135,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-04-30,17,3015268.0,696487.0,0,11651,0,NaN,NaN,1.0
691136,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-05-01,18,3015268.0,696487.0,0,11651,0,NaN,NaN,1.0
691137,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-05-02,18,3015268.0,696847.0,360,11652,1,NaN,NaN,1.0
691138,Centro-Oeste,DF,Brasília,53,530010.0,53001.0,DISTRITO FEDERAL,2022-05-03,18,3015268.0,696999.0,152,11653,1,NaN,NaN,1.0

In [ ]:
df_save = df_full[~df_full['municipio'].isna()].copy()

In [ ]:
df_save.shape

(4277760, 17)

In [ ]:
df_save.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
4638,Norte,RO,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-27,13,22945.0,0.0,0,0,0,NaN,NaN,0.0
4639,Norte,RO,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-28,13,22945.0,0.0,0,0,0,NaN,NaN,0.0
4640,Norte,RO,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-29,14,22945.0,0.0,0,0,0,NaN,NaN,0.0
4641,Norte,RO,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-30,14,22945.0,0.0,0,0,0,NaN,NaN,0.0
4642,Norte,RO,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-31,14,22945.0,0.0,0,0,0,NaN,NaN,0.0

In [ ]:
uf_estados = df_save['estado'].sort_values().unique()
uf_estados

array(['AC', 'AL', 'AM', 'AP', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MG',
       'MS', 'MT', 'PA', 'PB', 'PE', 'PI', 'PR', 'RJ', 'RN', 'RO', 'RR',
       'RS', 'SC', 'SE', 'SP', 'TO'], dtype=object)

In [ ]:
len(uf_estados)

27

In [ ]:
nome_estados = ['Acre', 'Alagoas', 'Amapá', 'Amazonas', 'Bahia', 'Ceará', 'Distrito Federal', 'Espírito Santo', 'Goiás', 'Maranhão', 'Minas Gerais',
               'Mato Grosso do Sul', 'Mato Grosso', 'Pará', 'Paraíba', 'Pernambuco', 'Piauí', 'Paraná', 'Rio de Janeiro',
               'Rio Grande do Norte', 'Rondônia', 'Roraima', 'Rio Grande do Sul', 'Santa Catarina', 'Sergipe', 'São Paulo', 'Tocantins']

In [ ]:
len(nome_estados)

27

In [ ]:
i = 0
for uf in uf_estados:
    print(uf + ' - ' + nome_estados[i])
    cond = df_save['estado'] == uf
    df_save.loc[cond, 'estado'] = nome_estados[i]
    i += 1

AC - Acre
AL - Alagoas
AM - Amapá
AP - Amazonas
BA - Bahia
CE - Ceará
DF - Distrito Federal
ES - Espírito Santo
GO - Goiás
MA - Maranhão
MG - Minas Gerais
MS - Mato Grosso do Sul
MT - Mato Grosso
PA - Pará
PB - Paraíba
PE - Pernambuco
PI - Piauí
PR - Paraná
RJ - Rio de Janeiro
RN - Rio Grande do Norte
RO - Rondônia
RR - Roraima
RS - Rio Grande do Sul
SC - Santa Catarina
SE - Sergipe
SP - São Paulo
TO - Tocantins

In [ ]:
df_save.head()

,regiao,estado,municipio,coduf,codmun,codRegiaoSaude,nomeRegiaoSaude,data,semanaEpi,populacaoTCU2019,casosAcumulado,casosNovos,obitosAcumulado,obitosNovos,Recuperadosnovos,emAcompanhamentoNovos,interior/metropolitana
4638,Norte,Rondônia,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-27,13,22945.0,0.0,0,0,0,NaN,NaN,0.0
4639,Norte,Rondônia,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-28,13,22945.0,0.0,0,0,0,NaN,NaN,0.0
4640,Norte,Rondônia,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-29,14,22945.0,0.0,0,0,0,NaN,NaN,0.0
4641,Norte,Rondônia,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-30,14,22945.0,0.0,0,0,0,NaN,NaN,0.0
4642,Norte,Rondônia,Alta Floresta D'Oeste,11,110001.0,11005.0,ZONA DA MATA,2020-03-31,14,22945.0,0.0,0,0,0,NaN,NaN,0.0

In [ ]:
df_save.to_csv('./repositorio/data/' + 'covid_data_full.csv', sep=';', index=False)